.git
.github
node_modules
vendor
.env
.env.docker
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log
.editorconfig
.gitignore
.gitattributes
README.md
phpunit.xml
postman
md
