# Ignore files not needed in the final image
/.env
/vendor/
/node_modules/
/public/storage
/storage/*.log
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
.git
.gitignore
.idea
Dockerfile
docker-compose.yml
